<header>
    <div class="header-content">
        <h2>Free menstrual products at SPICED Academy.</h2>
        <h3>Here are all the people that support the petition:</h3>
    </div>
</header>
<div class="signers-page">
    <div clas="signers-body">

        <section class="signers-body" id="user-signers">

            <ul id="user">

                {{#signer}}
                    <li class="user">
                        <h2>{{first}}
                            {{last}}
                            {{age}}
                            <span><a
                                    href="/signers/{{city}}"
                                >{{city}}</a></span>
                            {{url}}</h2>
                    </li>
                {{/signer}}
            </ul>

        </section>
    </div>
</div>