<header>
    <div class="header-content"><h3>Register now! Sign the petition for free
            menstrual products at SPICED Academy</h3></div>
</header>
<div class="signers-page">
    <div clas="signers-body">

        <h2>heres everyone that signed</h2>

        <section id="user-signers">

            <ul id="user">
                {{#signer}}
                    <li class="user">
                        <h2>{{first}}
                            {{last}}
                            {{age}}
                            <span><a
                                    href="/signers/{{city}}"
                                >{{city}}</a></span>
                            {{url}}</h2>
                    </li>
                {{/signer}}
            </ul>

        </section>
    </div>
</div>