<header>
    <h2>Free menstrual products at SPICED Academy.</h2>
    <h3>Here are all the people that support the petition:</h3>

</header>
<div class="flex-wrapper">
<ul class="wrapper-box" id="user">

    {{#signer}}
        <li class="user">
            <h2>{{first}}
                {{last}}
                {{age}}
                <span><a href="/signers/{{city}}">{{city}}</a></span>
                {{url}}</h2>
        </li>
    {{/signer}}
</ul
</div>